ENABLE_LABOR_SIGNAL_ENGINE=true
ENABLE_OPPORTUNITY_SCORING=true
ENABLE_SKILL_GAP_ENGINE=true
ENABLE_MARKET_ROUTING_ADVISORY=true
SHOW_LABOR_WIDGETS_TO_USERS=false
SHOW_LABOR_WIDGETS_TO_ADMIN=true
USE_SIGNAL_ENGINE_IN_MATCHING=false

LABOR_SIGNAL_DEFAULT_REGION_CODE=DC
LABOR_SIGNAL_DEFAULT_REGION_NAME=District of Columbia

STRIPE_LINK_ENTRY_ACCESS=
STRIPE_LINK_FURTHER_ACTION=
STRIPE_LINK_LABOR_SIGNAL_BASIC=
STRIPE_LINK_LABOR_SIGNAL_PRO=
