<!DOCTYPE html>
<html>
<head>
    <title>General Inquiry</title>
</head>
<body>
    <h1>General Inquiry</h1>

    <form method="post" action="/lead">
        Name:<br>
        <input type="text" name="name" required><br><br>

        Email:<br>
        <input type="email" name="email" required><br><br>

        Interest:<br>
        <input type="text" name="interest" required><br><br>

        Phone:<br>
        <input type="text" name="phone"><br><br>

        Company:<br>
        <input type="text" name="company"><br><br>

        Message:<br>
        <textarea name="message"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>

    <hr>
    <a href="/">Back Home</a>
</body>
</html>
