<!DOCTYPE html>
<html>
<head>
    <title>Manufacturer / Sponsor Intake</title>
</head>
<body>
    <h1>Manufacturer / Sponsor Intake</h1>

    <form method="post" action="/partner">
        Name:<br>
        <input type="text" name="name" required><br><br>

        Email:<br>
        <input type="email" name="email" required><br><br>

        Company:<br>
        <input type="text" name="company" required><br><br>

        Role:<br>
        <input type="text" name="role" required><br><br>

        Product Type:<br>
        <input type="text" name="product_type" required><br><br>

        Website:<br>
        <input type="text" name="website"><br><br>

        Regions:<br>
        <input type="text" name="regions"><br><br>

        Message:<br>
        <textarea name="message"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>

    <hr>
    <a href="/">Back Home</a>
</body>
</html>
